# Hello World

In [2]:
print("Hello World!")

Hello World!

In [3]:
name = "Dhanti"
age = 23
height = 164
is_student = True

print(name)

Dhanti

In [4]:
print(f"Halo nama saya {name}. Umur saya {age}. Tinggi badan saya {height}. Berapa 2+2? {2+2}")

Halo nama saya Dhanti. Umur saya 23. Tinggi badan saya 164. Berapa 2+2? 4

# Conditional Statement
(=) hanya dipakai untuk assignment untuk satu variabel, dan if else memang menggunakan (:) setelah conditional statementnya. kalau setelah if ingin menunjukkan nilai sama dengan maka gunakan (==), kalah tidak sama dengan (!=)

In [10]:
age = 18
if age > 17:
  print("Boleh Masuk")
else:
  print("Tidak Boleh Masuk")

Boleh Masuk

#Loop
FORLOOP
logicnya range dalam python akan membuat deret angka yang dimulai dari [0-9] ada 10 angka yang dimulai dari 0. untuk (i) ini fungsinya sbg variabel.

WHILELOOP. kalau while ini harus dibuat suatu variabel untuk menjaga, kalau tidak while akan terus berputar unlimited. cara perfikirnya, i saat  ini ada bepa misal i=0, dan 0 itu kecil dari 10 ga? kalau iya berarti true, lalu ada i+= 1 berarti i saat itu ditambah 1 lalu di assign lagi ke i

In [11]:
#for
for i in range (10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
i=0
while i < 10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

#Function
kalau yang pertama yang dihasilkan bentuk print. misal hasil dari function 1 ini mau kita masukan ke variabel baru namanya adalah hasil, akan muncul 2 macam 5 dan none. 5 muncul dari row pertama atau hasil dari perintah f(2) sedangkan yang none berasal dari print(hasil) karena print itu cuma nampilin tapi value gadikasi ke kita, ibaratnya 5 itu gabisa di save cuma sekali pakai.

kalau function kedua nilainya hanya satu yaitu 5, karena kita pake return, dia mengembalikan suatu value dan kita tampung dalam variabel

In [13]:
def f(x):
  print((2*x)+1)

In [14]:
f(2)

5

In [15]:
hasil = f(2)
print(hasil)

5
None

In [16]:
def f2(x):
  return (2*x)+1

In [17]:
f2(2)

5

In [18]:
hasilx = f2(2)
print(hasilx)

5

#List (array)
list diawali dengan [""]. didalam array itu ada elemen spt "Apple","Banana" dll, nah kita bisa mengambil satu elemennya saja dengan cara print(fruits[0]) 0 itu adalah index, misalnya index 0 itu diisi dengan Apple, index 1 adalah Banana dan index 2 adalah cherry. selanjutnya ada append artinya menambahkan elemen di paling belakang, sehingga ketika print ulang maka muncul sampai orange. kalau print(fruits[-1]), -1 itu artinya mengakses item nya dari belakang, kalau -2 berarti kita mengakses item 2 dari belakang

In [30]:
#         0      , 1      , 2     ,3  ,4 DEPAN
#         -6     , -5     , -4,   ,-3,-2,   -1 BELAKANG
fruits = ["Apple","Banana","Cherry",4,1.5] #Orange
print(fruits[0]) #Output: Apple
buah1 = fruits[0]
print(buah1)
fruits.append("Orange") # Add a new item
print(fruits)
print(fruits[5])
print(fruits[-1])
print(fruits[-2])
print(fruits[0:4:1]) # Mengurutkan item dari 0-4 dengan lompatan 1 kali tapi item ke 4 ga masuk lagi
print(fruits[-1::-1]) # Mengurutkan dari belakang
print(fruits[-1::-2]) # Mengurutkan dengan lompar 2 kali

Apple
Apple
['Apple', 'Banana', 'Cherry', 4, 1.5, 'Orange']
Orange
Orange
1.5
['Apple', 'Banana', 'Cherry', 4]
['Orange', 1.5, 4, 'Cherry', 'Banana', 'Apple']
['Orange', 4, 'Banana']